datasets
faiss-cpu
sentence-transformers
transformers
torch
numpy
pandas
rouge-score
mauve-text
tqdm
pymupdf
pytest
langchain
langchain-community
pypdf
langchain-huggingface
chonkie
python-dotenv
requests
beautifulsoup4
ddgs
chromadb
pdfplumber
rich